FLEXCOMPASS_DB_PATH=
FLEXCOMPASS_SEED=42
FLEXCOMPASS_CORS_ORIGINS=http://127.0.0.1:3000,http://localhost:3000
NGED_DATAPORTAL_TOKEN=
SPEN_DATAPORTAL_TOKEN=
ENWL_DATAPORTAL_TOKEN=
UKPN_DATAPORTAL_TOKEN=
NPG_DATAPORTAL_TOKEN=
NESO_DATAPORTAL_TOKEN=
